@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import '/node_modules/@fortawesome/fontawesome-free/css/all.css';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 2rem;
  background-color: #03010a;
  /* text-align: center; */
}

.pagebody {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.gallery {
  margin-top: 10rem;
}

p {
  text-indent: 1em;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1rem;

}

/* animate down "title */

.title {
  animation: slideDown ease 5s;
  -webkit-animation: slideDown ease 5s;
  -moz-animation: slideDown ease 5s;
  -o-animation: slideDown ease 5s;
  -ms-animation: slideDown ease 5s;

}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* / workspace faid in  */
.workspace {
  height: 1024px;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.footer-section {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer img {
  height: 10rem;
  margin: 0 0.25rem;
}

.workspace img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}



.button {

  border-radius: 50%;
  width: 60px;
  margin-bottom: 1em;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}

.contactcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactpage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: top;
}

.buttons-container {
  width: 50%;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.fa-2x {
  font-size: 3em;
}


/* Media query for small screens */
@media only screen and (max-width: 768px) {
  .pagebody {
    padding-left: 2rem;
  }

  .gallery {
    margin-top: 5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}